body{
	background:#c61f41;
}
.home-return{
	color:white;
}
a:hover {
	font-size:120%;
	color:white;
 }
 .font{
 	font-weight:bold;
 	color:#c61f41;
 	font-family:Lucida;
 }
#find {
	display: block;
}
#photo {
    background-image: url('http://cache.wizardworld.com/files/hero/_1200x630_fit_center-center_100/WW-cleveland.jpg');
    height: 300px;
    border-radius: 25px;
    border: 2px solid white;
}
#details-photo {
    background-image: url('https://mavenprodcontent.blob.core.windows.net/media/houseofblues_dal/ImageGalleryWidget/Special_Events_Slider/specialevents_slide02_fans.jpg');
    height: 300px;
    border-radius: 25px;
    border: 2px solid white;
}
#belowPhoto {
	background: wheat;
	color: #104E8B;
	border-radius: 25px;
	border: 2px solid white;
	font-family:lucida;
}
.footer-container {
	background: black;
	color: white;
	
	border: 2px solid black;
	font-family:lucida;
}
.well {
	background-image: url('http://cache.wizardworld.com/files/hero/_1200x630_fit_center-center_100/WW-cleveland.jpg');
	border-radius: 25px;
	border:2px solid white;
}
.input-form {
	width: 100%;
	padding: 10px;
	background: wheat;
	color: #104E8B;
	border-radius: 25px;
	border: 2px solid #c61f41;
	font-family:lucida;
}
.subscribe-text{
	font-weight:bold;
	font-family:Lucida;
	color:#c61f41;
	text-align:center;
}
.input-field{
	position:absolute;
	left:30%;
	top:35%;
	margin-right:30px;

}
.comment-form{
	position:absolute;
	top:20px;
	right:100px;
	background: wheat;
	color: #104E8B;
	border-radius: 25px;
	border: 2px solid #c61f41;
	font-family:lucida;
    width: 40%;
	padding: 10px;
}
img {
	border-radius: 25px;
	/*border: 2px solid #104E8B;*/
}
.page-link{
	background:blue;
}
.choose-button {
   position: relative;
   background-color: #c61f41 ;
   border: 2px solid white;
   border-radius:15px;
   font-size: 14px;
   font-weight:bold;
   font-family:lucida;
   color: #FFFFFF ;
   padding: 10px;
   width: 100px;
   text-align: center;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   text-decoration: none;
   overflow: hidden;
   cursor: pointer;
   box-shadow: 0 7px #ce8686 ;
}
.choose-button:after {
   content: "";
   background: white;
   display: block;
   position: absolute;
   padding-top: 300%;
   padding-left: 350%;
   margin-left: -20px!important;
   margin-top: -120%;
   opacity: 0;
   transition: all 0.8s
}
.choose-button:active:after {
   padding: 0;
   margin: 0;
   opacity: 1;
   transition: 0s
}
.choose-button:hover {
	background-color: #ed0e0e 
}