#find {
	display: block;
}
#photo {
	background-image: url('http://cache.wizardworld.com/files/hero/_1200x630_fit_center-center_100/WW-cleveland.jpg');
	height: 400px;
}
.footer-container, #searchResultsRow {
	background:teal;
	color:white;
	border-radius:25px;
	border: 2px solid black;
	font-family:lucida;
}
.well{
	background:teal;
	border-radius: 25px;
	border: 2px solid black;
}
.input-form{
	background:orange;
	border-radius:25px;
	border: 2px solid white;
	color:black;
	font-family:lucida;
	width:40%;
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-top:10px;
}